/* stylelint-disable font-family-no-duplicate-names, plugin/no-unsupported-browser-features */

/* Global element resets */

/*
Set border-box box sizing so borders and padding don't affect set dimensions
Source: https://github.com/jgthms/minireset.css
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
IE10+ doesn't honor `<meta name="viewport">` in some cases
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
@-ms-viewport {
  width: device-width;
}

/*
Fix display of HTML5 structural elements in IE10 and older browsers
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/*
Reset block margins so margin and padding are only applied when needed
Source: https://github.com/jgthms/minireset.css
*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*
Always hide an element with the `hidden` HTML attribute
Needed for proper display in IE 10-
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
[hidden] {
  display: none !important;
}

/* Horizontal rules */

/*
1. Add the correct box sizing in Firefox
2. Show the overflow in Edge and IE
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Body */

/*
1. As best practice, apply default `background-color`
2. Set explicit initial text-align value so the `inherit` value can be used later on things like `<th>` elements
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
body {
  background-color: white;/* 1 */
  text-align: left; /* 2 */
}

/* Typography */

/*
1. Prevent adjustments of font size after orientation changes on some mobile devices
2. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so we force a non-overlapping, non-auto-hiding scrollbar to counteract
3. Change default font family in all browsers
4. Set html font size to match browser size
5. Correct line height in all browsers
6. Change default tap highlight to be completely transparent in iOS
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
html {
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
  -ms-overflow-style: scrollbar; /* 2 */
  font-family: sans-serif; /* 3 */
  font-size: 100%; /* 4 */
  line-height: 1.15; /* 5 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 6 */
}

/*
Reset heading font sizes and weight
Source: https://github.com/jgthms/minireset.css
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/*
Add correct font weight in Chrome, Edge, and Safari
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
b,
strong {
  font-weight: bolder;
}

/*
Add correct font size in all browsers
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove the bottom border in Firefox 39-
2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari
3. Add explicit cursor to indicate changed behavior
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
abbr[title] {
  border-bottom: 0; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
  cursor: help; /* 3 */
}

/*
Reset font style and line height for `address` elements
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
address {
  font-style: normal;
  line-height: inherit;
}

/*
Remove bullets from unordered lists
Source: https://github.com/jgthms/minireset.css
*/
ul {
  list-style: none;
}

/*
Add correct font style in Android 4.3-
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
dfn {
  font-style: italic;
}

/*
Add correct display in all browsers
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
summary {
  display: list-item;
}

/* Links */

/*
1. Remove the gray background on active links in IE 10.
2. Remove gaps in links underline in iOS 8+ and Safari 8+
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/*
Undo these styles for placeholder links/named anchors (without href) which have not been made explicitly keyboard-focusable (without tabindex)

Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
See https://github.com/twbs/bootstrap/issues/19402
*/
a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  text-decoration: none;
  color: inherit;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

/* Code */

/*
1. Correct inheritance and scaling of font size in all browsers
2. Correct odd font sizing in all browsers
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1rem; /* 2 */
}

/*
1. Don't allow content to break outside
2. Force a non-overlapping, non-auto-hiding scrollbar to counteract @viewport being set, which causes scrollbars to overlap content in IE11 and Edge
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
pre {
  overflow: auto; /* 1 */
  -ms-overflow-style: scrollbar; /* 2 */
}

/* Media and embedded elements */

/*
Set responsive media elements so images and embeds scale with browser width
Source: https://github.com/jgthms/minireset.css
*/
img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

audio {
  max-width: 100%;
}

/*
1. Remove the border on images inside links in IE 10-
2. Align images vertically
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
img {
  border-style: none; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Hide overflow in IE
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
svg:not(:root) {
  overflow: hidden;
}

/* Correct display for audio controls in iOS 4-7 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
Remove border from iframes
Source: https://github.com/jgthms/minireset.css
*/
iframe {
  border: 0;
}

/* Tables */

/*
1. Prevent double borders
2. Reset table spacing so tabular data only takes the space it needs
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
table {
  border-collapse: collapse; /* 1 */
  border-spacing: 0; /* 2 */
}

/*
1. Move caption below table
2. Align table caption to left (inherits from body)
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
caption {
  caption-side: bottom; /* 1 */
  text-align: inherit; /* 2 */
}

/*
Remove padding from table cells and align text left (inherits from body)
Source: https://github.com/jgthms/minireset.css
*/
td,
th {
  padding: 0;
  text-align: inherit;
}

/* Interaction elements */

/*
Avoid 300ms click delay on touch devices that support the `touch-action` CSS property
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

/*
Suppress the focus outline on elements that cannot be accessed via keyboard
This prevents an unwanted focus outline from appearing around elements that might still respond to pointer events.
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
[tabindex="-1"]:focus {
  outline: none !important;
}

/* Buttons and inputs &/

/*
Remove default `border-radius` that macOS Chrome adds
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
button {
  border-radius: 0;
}

/*
1. Remove `margin` in Firefox and Safari
2. Inherit type styles
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
input,
button,
select,
optgroup,
textarea {
  margin: 0; /* 1 */
  font-family: inherit; /* 2 */
  font-size: inherit; /* 2 */
  line-height: inherit; /* 2 */
}

/*
Show overflow in Edge
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
button,
input {
  overflow: visible;
}

/*
Remove inheritance of `text-transform` in Firefox
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
button,
select {
  text-transform: none;
}

/*
1. Prevent WebKit bug where (2) destroys native `audio` and `video` controls in Android 4
2. Correct inability to style clickable types in iOS and Safari
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/*
Remove inner border and padding from Firefox
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/*
Remove padding in IE 10-
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
input[type="radio"],
input[type="checkbox"] {
  padding: 0;
}

/*
Remove the default appearance of temporal inputs to avoid a Mobile Safari bug where setting a custom line-height prevents text from being vertically
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
See https://bugs.webkit.org/show_bug.cgi?id=139848
*/
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

/*
1. Remove default vertical scrollbar in IE
2. Textareas should really only resize vertically so they don't break their (horizontal) containers
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
textarea {
  overflow: auto; /* 1 */
  resize: vertical; /* 2 */
}

/*
Correct cursor style of increment and decrement buttons in Chrome
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*
Overrides extra rounded corners on search inputs in iOS
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

/*
Remove inner padding and cancel buttons in Chrome and Safari on macOS
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct inability to style clickable types in iOS and Safari
2. Change font properties to `inherit` in Safari
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}

/*
Add correct vertical alignment in Chrome, Firefox, and Opera
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
progress {
  vertical-align: baseline;
}

/* Form elements */

/*
1. Ensure fieldsets behave more like a standard block element (browsers set a default `min-width: min-content;` on fieldsets)
See https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
2. Reset the default outline behavior of fieldsets so they don't affect page layout
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
fieldset {
  min-width: 0; /* 1 */
  border: 0; /* 2 */
}

/*
1. Correct text wrapping in Edge and IE
2. Correct color inheritance from `fieldset` elements in IE
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */
legend {
  display: block;
  width: 100%;
  max-width: 100%; /* 1 */
  padding: 0;
  line-height: inherit;
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}

/*
Allow labels to use `margin` for spacing
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
label {
  display: inline-block;
}

/*
Display form output inline
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
output {
  display: inline-block;
}

/* Additional element display fixes */

/*
Add correct display in IE
Source: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
*/
template {
  display: none;
}
